/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 0.8rem;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

p {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

hr {
  border-top: 2px solid;
  color: hsl(215, 32%, 27%);
  margin: auto;
  width: 90%;
}

/* custom styles */
.container {
  background-color: hsl(216, 50%, 16%);
  width: 300px;
}

.nft-image {
  opacity: 1;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.nft-title {
  color: white;
  cursor: pointer;
}

.nft-title:hover,
.creator-link:hover {
  color: hsl(178, 100%, 50%);
}

.nft-price {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.icon {
  width: 10%;
  margin-right: 5px;
}

.creator-avatar {
  margin-right: 5px;
  width: 10%;
  border: 1px solid white;
}

.creator-link {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

/* preview style */
.image-container {
  position: relative;
  width: 100%;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-container:hover .nft-image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.preview {
  background-color: hsl(178, 100%, 50%, 0.2);
  padding: 100px 100px;
  border-radius: 10px;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
